/* break point */
$mobileBP : 375px;
$desktopBP : 1440px;

/* COLORS */
$orange : hsl(31,77%,52%);
$dark-cyan : hsl(184, 100%, 22%);
$very-dark-cyan : hsl(179, 100%, 13%);

$transparent-white :hsla(0, 0%, 100%, 0.75);
$very-light-gray : hsl(0, 0%, 95%);

/* TYPOS */

$font-size : 15px;
$font1 :  'Lexend Deca', sans-serif;
$font2 :  'Big Shoulders Display', cursive;

